.username,
.userid {
  line-height: 0px;
}

.userid {
  color: rgba(255, 255, 255, 0.5);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.image {
  width: 50px;
  border-radius: 50%;
}

.profile-card {
  margin-top: 2rem;
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
