.username,
.userid {
  line-height: 0px;
}

.userid {
  color: rgba(255, 255, 255, 0.5);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.image {
  width: 40px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 70px;
  width: 100%;
}

.profile-card {
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

/* Medium sized Screen */
@media screen and (max-width: 1200px) {
  .username,
  .userid {
    position: absolute;
    display: none;
  }

  .profile-card {
    padding: 0;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
  }
  .profile-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
  }
  .profile-container {
    justify-content: flex-end;
    align-items: center;
  }
}

/* Small Screen Size..Non Mobile */

@media screen and (max-width: 537px) {
  .profile-container {
    justify-content: center;
  }
}
