.tweet-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    border-bottom: 1px solid var(--borderColor);
}
.tweet-content {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 84%;
}
.user-img {
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: .4rem;
    /* background-color: aqua; */
    width: 12%;
}
.t-user-photo {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.user-id {
    display:flex;
    /* background-color: white; */
    line-height: 0px;
}
.t-user-name {
    position: relative;
    font-weight: 700;
    margin-right: .3rem;
}
.t-user-id {
    position: relative;
    color: var(--twitterIdColor);
}
.user-tweet {
    /* background-color: yellow; */
    margin-top: -1rem;
}
.t-icon-text {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}
.under-t-icon {
    /* background-color: red; */
    width: 18px;
    fill:rgb(136, 135, 135);
    position: relative;
    left: 6px;
}
.under-t-text {
    /* margin-left: 1rem; */
    font-size: 15px;
    color: var(--underIconsFill);
}
.all-under-icons {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 73px
}
.icon-square {
    /* background: yellowgreen; */
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.share-icon {
    margin-right: 1.5rem;
    /* background-color: aqua; */
    justify-content: flex-end;
}
.three-dots {
    width: 20px;
    fill: var(--underIconsFill);
}
.userplusoptions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all-under-icons:hover{
    cursor: pointer;
}
.comments-icon:hover .under-t-icon{
    fill: var(--commentsBlue);
}
.comments-icon:hover .under-t-text{
    color: var(--commentsBlue);
}
.retweets-icon:hover .under-t-icon{
    fill: var(--retweetGreen);
}
.retweets-icon:hover .under-t-text{
    color: var(--retweetGreen);
}
.heart-icon:hover .icon-square{
    background-color: rgba(245, 3, 3, 0.2);
    fill: var(--heartRed);
}
.heart-icon:hover .under-t-text{
    color: var(--heartRed);
}