:root {
  --twitterBlue: #1DA1F2;
  --borderColor: rgba(255, 255, 255, 0.2);
  --twitterIdColor: rgb(99, 99, 99);
  --underIconsFill:  rgb(136, 135, 135);
  --commentsBlue: rgb(29, 155, 240);
  --retweetGreen: rgb(3, 211, 65);
  --heartRed: rgb(231, 0, 96);
}
.App {
  position: relative;
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  color: rgb(219, 219, 219);
}

.sideNav {
  background: red;
}
